<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
       <li><a ng-click='toggleModal()'>Privacy</a> </li>
        <li><a ng-click='toggleModalt()'>Terms and Use </a></li>
        <li><a ng-click='toggleModals()'>Support</a>
      </ul>
    </div>
  </div>
</nav>
<div class="modalDialogTerms">
	<modal-dialogt show='modalShownt' width='600px' height='500px'>
      <p>
		  <h3>Terms and conditions </h3>

Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
<br><br>
The term '[business name]' or 'us' or 'we' refers to the owner of the website whose registered office is [address]. Our company registration number is [company registration number and place of registration]. The term 'you' refers to the user or viewer of our website.
<br><br>
The use of this website is subject to the following terms of use:
<br><br> <ul>
    <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
    <li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: [insert list of information].</li>
    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
    <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
    <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
    <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
    <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
    <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
    <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.</li>
</ul>
	  <p>
    </modal-dialogt>
</div>
<div class="modalDialogPrivacy">
	<modal-dialog show='modalShown' width='600px' height='500px'>
		<h3> Privacy Policy Static Data</h3>
      <p>This privacy policy sets out how [business name] uses and protects any information that you give [business name] when you use this website.
[business name] is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
[business name] may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from [date].
<br><br>
<b>What we collect</b><br>
We may collect the following information:
<ul>
<li>name and job title</li>
<li>contact information including email address</li>
<li>demographic information such as postcode, preferences and interests</li>
<li>other information relevant to customer surveys and/or offers</li>
</ul>
<br><br>
<b>How we use cookies</b> <br>
A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. 
We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. 
Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. 
You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
<br><br>
<b>Links to other websites</b><br>
Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
<br><br>
You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to [address].
If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.
<p>
</modal-dialog>
</div>

<div class="modalDialogSupport">
<modal-dialogs show='modalShowns' width='400px' height='310px'>
  <form role="form" name="form1">
	<div class="form-group">
		<label for="subject">Subject:</label>
		<input type="text" class="form-control" id="subject" ng-model="greeting" required>
	</div>
	<div class="form-group">
		<label for="details">Details:</label>
		<textarea class="form-control" rows="5" id="details"></textarea>
	</div>
		<button type="submit" class="btn btn-default" ng-click="clicked()" ng-disabled="form1.$invalid">Send</button>
		<button type="button" class="btn btn-default" ng-click="closeSubDialog()">Close</button>
  </form>
</modal-dialogs>
</div>
</div>
