.img-product.thumbnail {
	display: block;
    max-width:250px;
   
    width: auto;
    height: auto;
}

img.small-image {
   height : 75px;
   
}


img.big-image {
   max-height : 300px;
   margin-bottom : 20px;
   margin-left : 100px;
}

.pull-left {
	float : left;
	margin-right : 25px;
}
.product-box {
	
}
