<form role="form" name="form1">
	<div class="row user-block"> <!-- User Block -->
		<div class="alert alert-danger" role="alert" ng-show="invalidLogin">{{msgtxt}}</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-3 text-center">
						<h4>Username:</h4>
					</div>
					<div class="col-md-5 form-group">
						<input class="form-control input-md" id="username"
							placeholder="Username" type="text" name="user_name" required  ng-model="user.name">
					</div>
				</div>
				<div class="row top-margin">
					<div class="col-md-offset-2 col-md-3 text-center">
						<h4>Password:</h4>
					</div>
					<div class="col-md-5 form-group">
						<input class="form-control input-md" id="passwd"
							placeholder="password" type="password" name="user_pass" required ng-model="user.pass" >
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-offset-4 col-md-3 text-center">
						 <button class="btn btn-default btn-primary btn-block" id="btn-login" type="submit" ng-click="login(user)" ng-disabled="form1.$invalid">
							 <i class="fa" ng-class="{'fa-cog fa-spin': isBusy, 'fa-sign-in': !isBusy}"></i>
								<span>Login</span>
						 </button>
				</div>
				<br>
			</div>
		</div> <!-- User Block -->	
</form>

