/* Login Page CSS */
body {
	background-color: #EEEEEE;
}

#app-body {
	/* background-color:#28B7ED; */
	background-color: #EEEEEE;
	padding-top: 50px;
}

#login-body h3 {
	font-weight: bold;
}

.user-block {
	margin-top: 11%;	
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	padding: 54px;
	width: 100%;
}

.top-margin {
	margin-top: 20px;
}

#btn-login
{
  height : 40px;
  font-size : 18px;
}

/* Footer CSS */
.ng-modal-overlay {
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:166%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  z-index:10000;
  position: absolute;
  width: 50%;
  overflow-y:scroll;
  overflow-x: fixed;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
   border-radius:8px;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-subject {
  z-index:10000;
  position: absolute;
  width: 50%;
  top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
   border-radius:8px;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

/* Home Page CSS */

.block-title {
  font-weight : 500;
  margin-bottom : 10px !important;
  color:#32BDE2
  }

.active_1 {
    color : black !important;
    text-decoration : none;
      font-weight : bold;
  }
  
hr.block-hr {
      margin-top : 0 !important;
      margin-bottom : 0 !important;
}

.odd-tr {
    background-color : #eeeeff;
  }
  
.bold-td {
  font-weight : bold;
}
    
.log-out {
	float:right;
	padding:4px;
	margin-top:10px;
}

.navbar-close {
 	 background:#121214;;
    border-top: 4px solid #1F1F1F;
}

.navbar-nav li a {
	cursor:pointer;
}

.lefo1 {
    color: #fff !important;
}

.wrap { 
	width: 500px;
	margin: 0 auto;
	border:1px solid #dcdcdc;
	padding:20px; 
}

.mar-top {
    margin-top: 20px;
}

.test-results {
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    margin: 10px;
    padding: 20px;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-close {
    background: none repeat scroll 0 0 #121214;
    border-top: 4px solid #1F1F1F;
}

.heed {
    background: none repeat scroll 0 0 #E2E2E2;
    border-bottom: 1px solid #C4C4C4;
}

body {
    padding-top: 50px;
}

.block-title {
    color: #32BDE2;
    font-weight: 500;
    margin-bottom: 10px !important;
}

.lefo {
    cursor: pointer;
    float: right;
    height: 30px;
    padding-left: 3px;
    padding-top: 0;
    width: 25px;
    border: 1px solid #eee;
}

.closse {
  border: 1px solid #eee;
    cursor: pointer;
    float: right;
    height: 30px;
    margin-left: 4px;
    margin-top: 0;
    padding-left: 5px;
    width: 25px;
}

textarea {
   resize: none;
}

.navbar-bottom {
    bottom: -20px !important;
}

.drag-index {
	z-index : 1;
}

.bottom-space {
	height : 70px;
}

.nvtooltip {
	position: absolute;
	margin: 50px !important;
	padding : 5px !important;
	font-size : 15px !important;
	z-index : 2;
}
